[package]
name = "aoc-__YEAR__-day-__DAY__"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true

[[bin]]
name = "aoc-__YEAR__-day-__DAY__"
path = "src/main.rs"

[dependencies]
aoc-utils = { path = "../../utils" }
